.App {
  text-align: center;
  font-family: 'monospace';
  background-image: url('/background-3048876_1920.jpg');
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cardContainer .card{
  border-radius: 35px;
  width: 55%;
  min-height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card-image img{
  max-width: 96px;
  border-radius: 50px;
}

.card-name {
  margin-bottom: 1.5rem;
}

.card-social-links {
  font-size: 30px;
}

.card-social-links a{
  margin: 10px
}

.card-social-links .linked-in {
  color: #0e76a8;
}

.card-social-links .git{
  color: #333333; 
}

.card-social-links .gmail {
  color: #D44638;
}